config/database.yml
*.cache
log
*.log
.project
/tmp/**/*
/tmp/*
test/tmp
config/initializers/personal_options.rb
config/initializers/localeapp.rb
config/initializers/trello.rb
public/system

.rvmrc
.rbenv-version
.powrc
.powenv
.ruby-gemset
.ruby-version

public/assets
