<%

team = trophy.team
raise("Trophy #{trophy.id} does not have a team") unless team

%>

<div class="inline-block text-center award trophy trophy-rank-<%= trophy.rank %>">
  <p><%= t('cg.awards.trophies.' + trophy.rank) %></p>
  <%= link_to image_tag(trophy.picture_url(:small), class: 'image'), team_path(I18n.locale, team.id), target: '_blank' %>

  <p class="line-breaks">
    <strong>
      <%= link_to team.name, team_path(I18n.locale, team), target: '_blank' %>
    </strong>
  </p>
</div>
