<div id="language-switch-container" class="container backdrop backdrop-bloodcell" data-x="3" data-scale="50">
  <div class="content">
    <h1>Climate Games</h1>
    <nav id="locale">
      <a href="/fr/climate-games-bientot">Français</a>
      <a href="/en/climate-games-coming-soon">English</a>
    </nav>
  </div>
</div>