<% content_for :title do %>
Climate Games - Coming Soon
<% end %>

<% content_for :lang do %>en<% end %>

<div id="splash-container" class="container backdrop backdrop-bloodcell" data-x="3" data-scale="30">
  <div class="row">
    <div class="col-xs-9">
      <h1>Climate Games</h1>
      <nav id='locale'>en <a href="/fr/climate-games-bientot">fr</a></nav>
    </div>
  </div>
  <div class="row">
    <div id="left-content-container" class="col-md-9">
      <div id="we-are-nature">
        We are <strong>nature</strong> defending itself
      </div>
      <div id="splash-message">
        <p class="launch-message">GET READY FOR THE LAUNCH OF THE WEBSITE 26th SEPTEMBER</p>
        <p>In <strong>December 2015</strong>, corporate power will play a high-risk gamble with the UN climate talks. Fossil fuel lobbyists and the peddlers of false solutions are already conspiring to overwhelm the COP21 summit in Paris. But it won’t be business-as-usual this time: the <strong>global Blockadia</strong> movements will converge to obstruct their corrosive activities, intercept their influence, and chase them out of politics.</p>
<p>Get ready for the world’s largest <strong>non-violent civil disobedience direct action adventure game</strong>&#160;in the streets of Paris, in cyberspace and beyond.&#160;Take part in the Climate Games, a new breed of creative mischief where there is no boundary between online and offline resistance. Bring together a team of players, plan your mission, and make your move to shift the outcome of the game in the climate’s favour.</p>

      </div>
    </div>
    <div class="col-md-3 col-xs-12 twitter-feed clearfix">
      <div id="twitter-feed">
  <a class="twitter-timeline"
     href="https://twitter.com/HackCOP21"
     data-widget-id="579279320616706048">
    Tweets by @HackCOP21
  </a>

  <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  </script>
</div>

    </div>
    <div class="button-row">
      <div id="amsterdam-link" class="col-md-3">
        <a class="btn btn-large btn-info"
           href="https://www.climategames.nl"
           target="_blank">
          Climate Games Amsterdam
        </a>
      </div>
      <div id="subscribe" class="col-md-3">
        <a class="btn btn-large btn-info"
           href="https://lists.riseup.net/www/subscribe/climategamescop21-newsletter"
           target="_blank">
          Subscribe for updates
        </a>
      </div>
      <div id="contact" class="col-md-3">
        <a class="btn btn-large btn-info"
           href="mailto:info@climategames.net">
          info@climategames.net
        </a>
      </div>
    </div>
  </div>
</div>
