<% content_for :title do %>
Climate Games - Bientot
<% end %>

<% content_for :lang do %>fr<% end %>

<div id="splash-container" class="container backdrop backdrop-bloodcell" data-x="3" data-scale="30">
  <div class="row">
    <div class="col-xs-9">
      <h1>Climate Games</h1>
      <nav id='locale'><a href="/en/climate-games-coming-soon">en</a> fr</nav>
    </div>
  </div>
  <div class="row">
    <div id="left-content-container" class="col-md-9">
      <div id="we-are-nature">
        Nous sommes la <strong>Nature</strong> qui se défend
      </div>
      <div id="splash-message">
        <p class="launch-message">PREPAREZ VOUS ! LANCEMENT DU SITE WEB LE 26 SEPTEMBRE.</p>
        <p>En <strong>Décembre 2015</strong>, les multinationales vont tenter un putsch sur les négociations climatiques des Nations Unies. Les lobbyistes des industries fossiles et les colporteurs de fausses solutions complotent déjà pour contrôler le sommet <strong>COP21 à Paris</strong>. Mais cette fois-ci, ce ne sera pas comme d’habitude : les mouvements mondiaux de <strong>Blockadia</strong> vont converger pour empêcher leur entreprise de destruction, briser leur influence, et les chasser en dehors de la politique.</p>
<p><span style="background-color: transparent;">Dans les rues de Paris, dans le cyberespace et au-delà, tenez vous prêts pour le plus grand <strong>jeu d’action-aventure et de désobéissance civile non violente</strong> du monde. Prenez part aux Climate Games, un nouveau genre d’actions créatives où la frontière entre la résistance online et offline disparaît. Réunissez une équipe de joueurs, passez à l’action, et ensemble, changeons le résultat du jeu en faveur du climat.</span>
</p>
      </div>
    </div>
    <div class="col-md-3 col-xs-12 twitter-feed clearfix">
      <div id="twitter-feed">
  <a class="twitter-timeline"
     href="https://twitter.com/HackCOP21"
     data-widget-id="579279320616706048">
    Tweets by @HackCOP21
  </a>

  <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  </script>
</div>

    </div>
    <div class="button-row">
      <div id="amsterdam-link" class="col-md-3">
        <a class="btn btn-large btn-info"
           href="https://www.climategames.nl"
           target="_blank">
          Climate Games Amsterdam
        </a>
      </div>
      <div id="subscribe" class="col-md-3">
        <a class="btn btn-large btn-info"
           href="https://lists.riseup.net/www/subscribe/climategamescop21-newsletter"
           target="_blank">
          M&#39;inscrire à la newsletter
        </a>
      </div>
      <div id="contact" class="col-md-3">
        <a class="btn btn-large btn-info"
           href="mailto:info@climategames.net">
          info@climategames.net
        </a>
      </div>
    </div>
  </div>
</div>
