<div class="nested-fields">
  <%= f.input :url, label: t('cg.reports.url') %>

  <div class="text-right">
    <small><%= link_to_remove_association t('cg.reports.remove'), f %></small>
  </div>
</div>